<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recipe AI Chatbot</title>
  <link rel="stylesheet" href="static/css/chatbot.css" />
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
</head>
<body>
  <nav>
    <div id="leftButtons">
      <button id="toggleButton" onclick="window.location.href='/saved-recipes'" >Saved Recipes</button>
      <button id="newChat" onclick="window.location.href='/chatbot'" >New Chat</button>
    </div>
    <div id="rightButtons">
      <span id="greeting"> You're a winner winner chicken dinner, <strong>{{session['username']}}</strong>!</span>
      <span> | </span>
        <button id="logoutButton"  onclick="window.location.href='/login'"">Logout</button>
    </div>
  </nav>

  <section id="chatSection">
    <div id="chatWindow"></div>
    <form id="chatForm">
      <input type="text" id="userInput" placeholder="Ask a recipe-related question..." required />
      <div id="buttonWrapper">
        <button type="button" id="vegButton" disabled> 🥦 </button>
        <button type="button" id="pepperButton" disabled> 🌶️ </button>
        <button type="button" id="kosherButton" disabled> 🔵 </button>
        <button type="submit" id="submitButton">Send</button>
      </div>
    </form>
  </section>
  
  <div id="pepperContainer"></div> <!-- Added container for falling emojis -->
  <script src="static/js/chatbot.js"></script>
</body>
</html>


