<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Recipes</title>
    <link rel="stylesheet" href="/static/css/saved_recipes.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

</head>
<body>
    <nav>
        <div id="leftButtons">
          <button id="toggleButton" onclick="window.location.href='/chatbot'" >Chatbot</button>
        </div>
        <div id="rightButtons">
          <span id="greeting"> You're a winner winner chicken dinner, <strong>{{session['username']}}</strong>!</span>        <span> | </span>
            <button id="logoutButton"  onclick="window.location.href='/login'"">Logout</button>
        </div>
      </nav>

    <h1>Your Saved Recipes</h1>
    <!-- Display saved recipes -->
    <div id="recipes">
      {% if recipes|length == 0 %}
      <div class="no-recipes">
        <h2>You have no saved recipes</h2>
        <button id="chatbotButton" onclick="window.location.href='/chatbot'">Let's make one!</button>
    </div>
      {% else %}
          {% for recipe in recipes %}
          <div class="recipe-card" data-title="{{ recipe[0] }}">
            <div class="recipe-card-header">
                <h2>{{ recipe[0] }}</h2>
                <i class="fa-solid fa-xmark delete-icon" onclick="confirmDelete('{{ recipe[0] }}')"></i>
            </div>
            <!-- Ingredients Section -->
            <div>
                <strong>Ingredients:</strong>
                <ul style="list-style-type: none; padding-left: 0;">
                    {% for ingredient in recipe[1].split(', ') %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Instructions Section -->
            <div>
                <strong>Instructions:</strong>
                <p>{{ recipe[2] }}</p>
            </div>
        </div>
        
        
          {% endfor %}
      {% endif %}
  </div>
<script src="/static/js/chatbot.js"></script>
</body>
</html>

